<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card p-5">
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button (click)="login()" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
  